.card-group-vertical .card {
  &:first-of-type {
    border-radius: .25rem .25rem 0 0;
  }

  border-radius: 0;
  margin-top: -2px;

  &:last-of-type {
    border-radius: 0 0 .25rem .25rem;
  }

  a {
    color: black;
    &:hover {
      text-decoration: none;
    }
  }
}

.custom-control-indicator {
  transition: 300ms all;
}

.progress-bar.run-animation {
  animation: bar-animation 1s 1;
}

.prize-cup {
  width: 35%;

  max-height: 400px;
}

.lh-1 {
  line-height: 1px;
}

a.material-icons {
  text-decoration: none;
}

@keyframes bar-animation {
  from {
    width: 0;
  }
  to {
    width: 15%;
  }
}